<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.34" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json.Schema" version="3.0.14" targetFramework="net462" />
  <package id="XrmCIFramework" version="9.1.0.5" targetFramework="net462" />
</packages>